
.app {
    display: flex;
    flex-direction: column-reverse;
    padding: 30px;
}

.field {
    display: flex;
    flex-wrap: wrap;
    width: 690px;
    background-color: #f5e6b0;
    border: 2px solid goldenrod;
}

.gem {
    width: 65px;
    height: 65px;
    margin: 2px;
    box-sizing: border-box;
    background-size: 400px;
    background-image: url(../public/wwwgems.png);
    box-shadow: 0 0 2px rgba(0,0,0,0.5); 
}

.emerald{
    background-position: -2px -3px;
}

.amethyst {
	background-position: -69px -3px;
}

.sapphire {
    background-position: -132px -3px;
}

.topaz {
	background-position: -200px -3px;
}

.ruby{
    background-position: -269px -2px;
}

.amber{
    background-position: -334px -3px;
}

.userScore {
    margin-left: 60px;
    font-size: 36px;
    color: red;
}